/* A simple stylesheet */

body {
	background-color: tan;
	padding: 25px;
	
}

h1 {
	color:black;
	padding: 25px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;

}

p {
	color: black;
	//display:inline;
	margin: 0em;
}

hr {
	border: 1px solid;

}

.subtitle {
	font-weight: bold;
	text-transform: uppercase;

}

.bold {
	font-weight: bold;

}

.italics {
	font-style: italic;

}

#resume {
	outline-style: solid;
	padding: 10px;
	width: 600px;

}

#bio {
	outline-style: solid;
	padding: 10px;
	width: 600px;

}