/* A simple stylesheet */

body {
	background-color: gray;
}

h1 {
	color:white;
	padding: 25px;
}

p {
	color: black;
}

.subtitle {
	font-weight: bold;
	text-transform: uppercase;

}

.bolded {
	font-weight: bold;

}